<p>{{ character.name }}</p>
<p>Lifepoints: <span class="dead">{{ character.lifepoints }}</span></p>
<p>Damage: {{ character.damage }}</p>
<img [src]="character.image">
<div><button (click)="handleClick()">Attack!</button></div>
