button {
    font-size: 22px;
    height: 85px;
    margin: 30px 10px;
    width: 150px;
}

.blue {
    background-color: royalblue;
}

.green {
    background-color: greenyellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.white {
    background-color: whitesmoke;
}

.code-message {
    font-size: 20px;
}