<div class="code-message"><span>{{ codeMessage }}</span></div>

<button (click)="changeCodeColor('white')" class="white">White</button>
<button (click)="changeCodeColor('green')" class="green">Green</button>
<button (click)="changeCodeColor('blue')" class="blue">Blue</button>
<button (click)="changeCodeColor('orange')" class="orange">Orange</button>
<button (click)="changeCodeColor('red')" class="red">Red</button>

<!-- <button (click)="changeCodeColor(true)" class="white">White</button>
<button (click)="changeCodeColor(true)" class="green">Green</button>
<button (click)="changeCodeColor(true)" class="blue">Blue</button>
<button (click)="changeCodeColor(true)" class="orange">Orange</button>
<button (click)="changeCodeColor(true)" class="red">Red</button> -->