<!-- <h1 appHighlight="yellow" style="background-color: aqua;">App Component</h1>  
  
  <app-counter (limitReached)="handleLimitReached($event)" [i]="startingNumber"></app-counter>

  <!--<div>
    <app-buttons></app-buttons>
  </div>
  
<app-arena></app-arena>

 <app-arena2></app-arena2>

  <app-table></app-table> -->

  
  <!--Interpolazione: questo title è in app.component.ts
    <span>{{ title }} app is running!</span>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/arena']">Arena</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/arena2']">Arena2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/buttons']">Buttons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/counter']">Counter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login-rdf']">Login rdf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/invoices']">Invoices</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    
    
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/arena']">Arena</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/arena2']">Arena2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/buttons']">Buttons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/counter']">Counter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/users']">Users</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav> -->
<router-outlet></router-outlet>