<p>Here's your hero:</p>
<p [appHighlight]="color"> {{ hero.name }} </p>
<!-- 
    Modo zozzo di scriverlo:
    <img src="{{ hero.image }}">
    Modo corretto: 
-->
<img [src]="hero.image">
<p> {{ hero.lifepoints }} </p>
<p> {{ hero.damage }} </p>
<button (click)="handleClick()">Attack!</button>