<p>arena works!</p>
<div class="heroes">
    <app-hero (attack)="handleAttack($event)" [hero]="hero1" [color]="'powderblue'"></app-hero>
    <app-hero (attack)="handleAttack($event)" [hero]="hero2" [color]="'pink'"></app-hero>
</div>

