<h1>login works!</h1>
<form (ngSubmit)="handleSubmit(f)" #f="ngForm" class="col-lg-8">
    <!--Classe from-group è bootstrap-->
    <div class="form-group">
        <label for="">Email</label>
        <!--Prima regola: ci dev'essere l'attr name sul campo in input-->
        <!--Posso fare:
            <input type="email" name="email" (change)="email = $event.target.value" [value]="email">
            Non va bene perché il template NON DOVREBBE MAI MODIFICARE una proprietà
            del comp. Al massimo: (change)="handleChange($event.target.value)"
            Questa è un'implementazione a mano di un BINDING BIDIREZIONALE: 
            TWO-WAY DATA BINDING. 
        -->
        <input type="email" name="email" [(ngModel)]="email" #e="ngModel" required email [appForbidden]="invalidEmails">
    </div>
    <div *ngIf="(e.touched || f.submitted) && e.invalid" class="alert alert-danger" role="alert">
        <p *ngIf="e.hasError('required')">Campo obbligatorio</p>
        <p *ngIf="e.hasError('email')">Indirizzo mail non valido</p>
        <p *ngIf="e.hasError('forbidden')">Indirizzo mail non ammesso</p>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <!--Prima regola: ci dev'essere l'attr name sul campo in input-->
        <!-- Vedi quaderno per [appForbiddenPassword]="" tra [] -->
        <input type="password" name="password" [(ngModel)]="password" #p="ngModel" [appForbiddenPassword]="invalidPasswords" required minlength="8">
    </div>
    <div *ngIf="(p.touched || f.submitted) && p.invalid" class="alert alert-danger" role="alert">
        <p *ngIf="p.hasError('required')">Campo obbligatorio</p>
        <p *ngIf="p.hasError('minlength')">Password deve avere almeno 8 caratteri</p>
        <p *ngIf="p.hasError('forbidden')">Password non può contenere le parole: "password", "Password".</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>