<!-- <tr class="row"> -->
<!-- <tr> -->
<td>{{ user.id }}</td>
<td>{{ user.name | uppercase }}</td>
<td>{{ user.email | lowercase }}</td>
<td class="delete">
    <button (click)="handleDeleteClick()">Elimina</button>
</td>
<!-- </tr> -->
