<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="form-group">
        <label>Email: </label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="alert alert-danger" *ngIf="(formEmail?.touched || isSubmitted) && formEmail?.invalid">
        <p *ngIf="formEmail.hasError('required')">Campo obbligatorio</p>
        <p *ngIf="formEmail.hasError('email')">Email non valida</p>
        <p *ngIf="formEmail.hasError('forbidden')">Email non utilizzabile</p>
    </div>
    <div class="form-group">
        <label>Password: </label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="alert alert-danger" *ngIf="(formPassword?.touched || isSubmitted) && formPassword?.invalid">
        <p *ngIf="formPassword.hasError('required')">Campo obbligatorio</p>
        <p *ngIf="formPassword.hasError('minlength')">La password deve contenere almeno 8 caratteri</p>
        <p *ngIf="formPassword.hasError('forbidden')">La password non può contenere la parola "password"</p>
    </div>
    <div class="row mt-2">
        <div class="col-lg-12 text-end">
            <div class="btn btn-primary" (click)="handleSubmit()">Login</div>
        </div>
    </div>
</form>