<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <!-- Il th vuoto è la COLONNA DELLE AZIONI, che
                 solitamente si lascia vuota
             -->
            <th>
                <button (click)="resetUsers()">Ripristina</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr app-row (delete)="handleDeletion($event)" *ngFor="let user of users" [user]="user"></tr>
        <!-- <app-row (delete)="handleDeletion($event)" *ngFor="let user of users" [user]="user"></app-row> -->
    </tbody>
</table>